<div class="dashboard-page-wrapper">
  <div class="upper-section">
    <app-videos-list
      (onVideoSelected)="setCurrentVideo($event)"
      [allVideos]="allVideos"
      cdkDropList
      #videosList="cdkDropList"
      [cdkDropListData]="allVideos"
      [cdkDropListConnectedTo]="trackList"
    ></app-videos-list>
    <app-preview (onVideoFinished)="playNext()" [autoplay]="autoplayVideos" [currentVideo]="currentVideo"></app-preview>
  </div>
  
  <button (click)="playAll()" class="play-btn">
    PLAY ALL
    <img class="play-btn-icon" [src]="isVideoPlaying ? 'assets/images/pause.png' : 'assets/images/play.png'" alt="">
  </button>

  <div class="lower-section">
    <app-track
      cdkDropList
      [videosList]="trackVideos"
      [videoTotalDuration]="videoTotalDuration"
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="trackVideos"
      [cdkDropListConnectedTo]="videosList"
      (cdkDropListDropped)="drop($event)"
      #trackList="cdkDropList"
    ></app-track>
  </div>
</div>