.track-wrapper {
    margin-block-start: 100px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    --ticks-amount: ;

    .track-item {
        --item-duration: ;
        border: 1px solid red;
        height: 90%;
        
    }

    .ruler {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: black;
        color: white;
        display: grid;
        grid-template-columns: repeat(var(--ticks-amount), 1fr);
    }

}